<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Price</th>
      <th>Scene</th>
      <th>Ticket Number</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.email %></td>
        <td><%= ticket.display_price %></td>
        <td><%= ticket.scene.strftime('%d %B %H:%M') %></td>
        <td><%= ticket.number %></td>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
