<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @ticket.scene %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ticket.number %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
